body{
    background-image: url(images/view.jpg);
    height: 1000px;
      background-size:cover;
      background-repeat: no-repeat;
}
#logo{
  background-image: url(images/logo.jpg);
opacity: .6;
  height: 100px;
  width: 100px;
    background-size: 100% 100%;
    margin-left:80px;
}
h1{
    color: #FFF6E9;
    text-align: center;
    padding-top: 0em;
    font-size: 2.5em;
    position: relative;
    margin-top: -40px;
}

header{
    font-family: Georgia,serif;
    position: relative;
}
nav{
    list-style-type: none;
    padding-top: 2em;
    padding-right: 2em;
    text-align:right
}
nav a{
    text-decoration: none;
    background-color:#0D9276;
    color:#EEEEEE;
    font-size: large;
    font-weight: bold;
    background-size: 2em;
    padding: 10px;
    border-radius: 30px;
}
nav a:hover{
  background-color:#EEEEEE ;
  color: #0D9276;
}

.firstcottage{
  background-image: linear-gradient(to top, #1636e91e,#90C7E3 );
  border: 100px;
  border-radius: 8px;
  margin-left:400px;
  margin-top: 370px;
  padding: 20px;
  width: 250px;
  height: 300px;
  position: absolute;
  text-align: left;
  transition: transform 0.2s ease-in-out;
}
.firstcottage:hover{
  background-color:#EEEEEE ;
  color: #0D9276;
  border-radius: 8px; 
  transform:scale(1.1);
}
.firstcottage img{
 
  width: 250px;
  height: 150px;
  border-radius: 8px;
  margin-bottom: 10px;
  text-align: center;
}
.define{
  text-align: justify;
  padding: 30px;
  color: bisque;
  transition: transform 0.2s ease-in-out;
}
.define:hover{
  background-color:#EEEEEE ;
  color: #0D9276;
  border-radius: 8px;
  transform:scale(1.1);
}
.posdef{
 
  border: 100 px;
  border-radius: 8px;
  width: 300px;
  position: absolute;
  margin-left:400px;
  margin-top: 10px;
}
.entrance{
  text-align: justify;
  padding: 30px;
  color: bisque;
  transition: transform 0.2s ease-in-out;
}
.entrance:hover{
  background-color:#EEEEEE ;
  color: #0D9276;
  border-radius: 8px;
  transform:scale(1.1);
}
.posentrance{

  border: 100 px;
  border-radius: 8px;
  width: 300px;
  position: absolute;
  margin-left:50px;
  margin-top: 50px;

}
.poscorkage{
  border: 50 px;
  border-radius: 8px;
  width: 200px;
  position: absolute;
  margin-left:720px;
  margin-top: -10px;
  padding: 10px;
}
.corkage{
  text-align: left;
  padding: 10px;
  color: bisque;
  transition: transform 0.2s ease-in-out;

}
.corkage:hover{
  background-color:#EEEEEE ;
  color: #0D9276;
  border-radius: 8px;
  transform:scale(1.1);
}

#wrapper{
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  width: 50%;
  min-width: 960px;
  max-width: 2048px;
  -webkit-box-shadow: 5px 5px 15px 5px #000000; 
  box-shadow: 5px 5px 15px 5px #000000;
  background-color: #0d92752f;
  height: 1000px;
  backdrop-filter:blur(1px);
    background-size:100% 100%;
    background-repeat: no-repeat;
}